div#server-cont {
    position : absolute;
    left : 50vw;
    top : 10vh;
    width : 50vw;
    height : 60vh;
    transform : translate(-50%, 0%);
    display : flex;
    flex-direction : column;
    border : solid 2px lime;
}

div#server-cont > * {
    width : inherit;
    height : 6vh;
}

div#server-cont > * > .server-icon {
    position : absolute;
    left : 0px;
    top : 0px;
    width : 6vh;
    height : 6vh;
}

div#server-cont > * > *.server-info {
    display : grid;
    grid-template-columns : 3fr 1fr 2fr;
    position : absolute;
    left : 6vh;
    top : 0vh;
    height : 3vh;
    transform : translate(0%, 50%);
    width : calc(50vw - 6vh - 30px);
    padding-left : 20px;
    padding-right : 10px;
    align-items : center;
}

div#server-cont > * > *.server-info > * {
    text-align : center;
}

div#server-cont > * > *.server-info > *.server-status {
    padding-left : 5px;
}

div#server-cont > * > *.server-info > *.server-status > img {
    vertical-align : bottom;
    width : 1em;
    height : 1em;
    padding-right : 5px;
}

div#server-cont > * > *.server-info > *.server-name {
    overflow-x : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    text-align : start;
}

div#server-cont > * > *.server-info > *.server-status.status-active {
    color : lawngreen;
}

div#server-cont > * > *.server-info > *.server-status.status-full {
    color : orange;
}

div#server-cont > * > *.server-info > *.server-status.status-offline {
    color : #e00;
}